@import url("../reset.css");


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}
/* fixed header */

header{
	position: fixed;
	top: 0;
	height: 50px;
	background: black;
	color: white;
	width: 100%;	
	z-index: 9001;
	font-size: 23px;
	text-transform: lowercase;
	font-variant: small-caps;
}

header #menu{
	height: 100%;
}

header ul {
	height: 100%;
	display: flex;
	justify-content: center;
}

header li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-left: 50px; padding-right: 50px;
	
}

a {
	text-decoration: none;
}

header a{
	color: lightgrey;
}
#menu-mobile{
	display:none;
}


header a:hover {
	color: white;
}
@media only screen and (max-width: 500px) {
	#menu-mobile{
		padding-left: 20px;
		display: flex;
		height: 100%;
		align-items: center;
	}
	
	#menu ul {
		display: none;
	}
}

/* title stuff */


.butt{
	position: relative;
	top: -11vw;
	line-height: -12vw;
	font-size: 12vw;
	text-transform: uppercase;
}
#title {
	display: block;
	padding-top: 50vh;
	background: darkred;
	color: white;
	text-transform: uppercase;
	
}

@media only screen and (max-width: 500px) {
	#title {
		padding-top: 20vh;
	}
}

.title-bottomhalf{
	position: relative;
	background: white;
	color: darkred;
}

.title-tophalf{
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;
	white-space: nowrap;
	bottom: 0;
	background: darkred;
	color: white;
	z-index: 10;
	overflow: hidden;
}

/* about */
#about {
	padding-left: 5%; padding-right: 5%;
	text-align: center;
	color: steelblue;
}
p {
	line-height: 35px;
	margin: 0 auto;
	max-width: 1000px;
	color: steelblue;
	font-size: 25px;
	padding-bottom: 50vh;
	font-family: 'Quattrocento', serif;
	}



#about .butt{	
	color: white;
}

h2 {
	text-transform: uppercase;
	font-size: 7vw;
	line-height: 7vw;
	padding-bottom: 3vw;
}
@media only screen and (max-width: 500px) {
	#about {
		}
	#about p {
		font-size: 15px;
	}
		
}

/* resume */
#resume {
	background: forestgreen;
	height: 100vh;

	padding-left: 5%; padding-right: 5%;
	text-align: center;
}
#resume .butt {
	color: forestgreen;
}

#resume p {
	color: white;
}
h3 {
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	
}


#resume a {
	padding: 20px;
	background: forestgreen;
	color: white;
	border: solid white;
	border-radius: 10px;
}
#resume a:hover {
	background: white;
	color: forestgreen;
	
	border-radius: 10px;
}

