@import url("../reset.css");


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}
/* fixed header */
.wrap {
	max-width: 1200px;
}

.hide{
	display: none;
}

.show {
	display: block;
}

header{
	position: fixed;
	top: 0;
	height: 50px;
	background: black;
	color: white;
	width: 100%;	
	z-index: 9001;
	font-size: 23px;
	text-transform: lowercase;
	font-variant: small-caps;
}

header #menu{
	height: 100%;
}

header ul {
	height: 100%;
	display: flex;
	justify-content: center;
}

header li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-left: 50px; padding-right: 50px;
}

a {
	text-decoration: none;
}

header a{
	color: lightgrey;
}
#menu-mobile{
	display:none;
	z-index; 200000;
}


header a:hover {
	color: white;
}
@media only screen and (max-width: 500px) {
	#menu-mobile{
		padding-left: 20px;
		display: flex;
		height: 100%;
		align-items: center;
		color: white;
	
	}
	
	header ul,li{
		display: block;
		background: white;
	}
	
	.menu-toggle{
		display: none;
	}
}

/* title stuff */


.butt{
	position: relative;
	top: -11vw;
	line-height: -12vw;
	font-size: 12vw;
	text-transform: uppercase;
}

#title {
	display: block;
	padding-top: 100vh;
	background: darkred;
	color: white;
	text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
	#title {
		padding-top: 30vh;
	}
}

.title-bottomhalf{
	position: relative;
	background: white;
	color: darkred;
}

.title-tophalf{
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;
	white-space: nowrap;
	bottom: 0;
	background: darkred;
	color: white;
	z-index: 10;
	overflow: hidden;
}

/* about */
#about {
	padding-left: 5%; padding-right: 5%;
	text-align: center;
	color: steelblue;
}
p {
	line-height: 35px;
	margin: 0 auto;
	color: steelblue;
	font-size: 25px;
	font-family: 'Quattrocento', serif;
	}

#about p {
	padding-top: 10vh;
	padding-bottom: 35vh;
}

#about .butt{	
	color: white;
}

h2 {
	text-transform: uppercase;
	font-size: 7vw;
	line-height: 7vw;
	padding-bottom: 3vw;
}

@media only screen and (max-width: 500px) {
	#about {
		}
	p {
		font-size: 18px;
		line-height: 25px;
	}
	
	#about p{
		padding-top: 5vh;
		padding-bottom: 15vh;
	}
}

/* resume */
#resume {
	background: forestgreen;
	padding-left: 5%; padding-right: 5%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#resume .butt {
	color: forestgreen;
}

#resume ul {
	width: 75%;
}

#resume li {
	display: flex;
	flex-flow: row wrap;
	background: white;
	color: forestgreen;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 7vw;
	padding: 4vw 4vw;
}

#resume p{
	color: forestgreen;
	text-align: left;
}

#resume li:hover {
	cursor: crosshair;
}

#resume a {
	margin-bottom: 50px;
	padding: 20px;
	background: white;
	color: forestgreen;
	font-size: 40px;
	border: solid white;
	text-align: left;
}

#resume a:hover {
	color: darkgreen;
}
.title {
	width: 80%;
	text-align: left;
}

.float-right {
	width: 20%;
}

/* stolen online */
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}


@media only screen and (max-width: 500px) {
	#resume a {
		margin-bottom: 20px;
		padding: 12px;
		font-size: 15px;
		border: 2.5px solid;
	}
	
	#resume li {
		margin-bottom: 20px;
	}
}

/* Contact */
